<template>
  <div>
    <div class="containerhead">
      <div class="containerheader">CM SINAI | CSO PREVENTIVA</div>
    </div>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Resultados Privados</h1>
          <br />
          <br />
          <!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
          <!-- <span>ingrese sus datos de acceso</span> -->
          <input type="email" placeholder="DNI" />
          <input type="password" placeholder="Contraseña" />
          <br />
          <br />
          <button>Ingresar</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form id="formato" action="/sinai/search.html" role="form" method="get">
          <h1>Resultados Corporativos</h1>
          <br />
          <br />
          <!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
          <!-- <span>Ingrese los datos de su cuenta</span> -->
          <input
            type="text"
            id="login_user"
            name="login_user"
            autocomplete="off"
            inputmode="text"
            placeholder="RUC"
          />
          <input
            type="password"
            id="pw"
            name="login_pw"
            autocomplete="off"
            inputmode="text"
            placeholder="Contraseña"
          />
          <input
            id="FCH_DES"
            type="date"
            style="display: none"
            class="form-control"
            name="FCH_DES"
            value=""
            min="2018-01-01"
            max="2100-12-31"
          />
          <input
            id="FCH_HAS"
            type="date"
            style="display: none"
            class="form-control"
            name="FCH_HAS"
            value=""
            min="2018-01-01"
            max="2100-12-31"
          />
          <br />
          <br />
          <!--<a href="#">Forgot your password?</a>-->
          <button type="submit" form="formato" value="Ingresar">
            >Ingresar
          </button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Hola, Bienvenido!</h1>
            <p>Si tus examenes son de personas juridicas ingresa aqui</p>
            <button class="ghost" id="signIn">Ingresa</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hola, Bienvenido!</h1>
            <p>Si tu examen es para personas naturales ingresa aqui</p>
            <button class="ghost" id="signUp">Ingresa</button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>
        Creado con <i class="fa fa-heart"></i> por
        <a target="_blank" href="https://florin-pop.com">OzHealth Peru</a>
        - Si necesita contactar al proveedor haz clic
        <a target="_blank" href="https://www.ozhealthperu.com/">aqui</a>.
      </p>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
/*h3 {font-size: 40px; color: #333; font-weight: bold;}
.cirrus {color: rgb(80,80,80);}
body {background: url(https://s3.amazonaws.com/cirrusjsassets/black_lozenge.png) repeat;}
.container {background-color: white; border-radius: 10px; padding: 10px; padding-top: 20px;}*/
.containerfinal {
  display: flex !important;
}
.container_half {
  flex: 1 !important;
}
/*.jumbotron {padding-top: 10px; padding-bottom: 10px; margin-left: 0px; margin-right: 0px;}
.new_pedido label, .new_pedido input {text-align: left;}
.header h3 span {font-size: 12px;}*/

/* Space out content a bit */
body {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5 !important;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 40px !important;
  padding-bottom: 19px !important;
}

/* Custom page footer */
.footer {
  padding-top: 19px !important;
  color: #777 !important;
  border-top: 1px solid #e5e5e5 !important;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 910px !important;
  }
}
.container-narrow > hr {
  margin: 30px 0 !important;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
.jumbotron .btn {
  font-size: 21px !important;
  padding: 14px 24px !important;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0 !important;
}
.marketing p + h4 {
  margin-top: 28px !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px !important;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0 !important;
  }

  input[type="text"],
  input[type="password"],
  select {
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
  }
  input[type="submit"] {
    width: 100% !important;
    background-color: #4caf50 !important;
    color: white !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
  }
  div {
    border-radius: 5px !important;
    background-color: #f2f2f2 !important;
    padding: 20px !important;
  }
}
</style>
