<template>
  <div class="card mb-0 pt-2 pt-md-0">
    <div class="card mb-0">
      <div class="card-body">
        <simple-data-table
          :applyCustomer="true"
          :resource="resource"
          :headers="headers"
          :filtersAvailable="
            Array('date', 'nombre', 'btns_download', 'tipo_examen')
          "
          ref="childIngresosSimpleDataTable"
        >
          <template slot="exams" slot-scope="{ item }">
            <v-menu bottom offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-0"
                  v-bind="attrs"
                  v-on="on"
                  color="primary"
                  x-small
                >
                  Examenes
                  <v-icon right dark>
                    mdi-arrow-down-drop-circle-outline
                  </v-icon></v-btn
                >
              </template>
              <v-list>
                <template v-for="(exam, i) in getExamenesList(item)">
                  <v-list-item
                    :key="i"
                    v-if="exam.show"
                    @click="downloadPDF(exam.url)"
                    dense
                  >
                    <v-list-item-title :style="'color:' + exam.color">
                      <v-icon :color="exam.color" left dark>
                        mdi-file-pdf
                      </v-icon>
                      {{ exam.texto }}</v-list-item-title
                    >
                  </v-list-item>
                </template>
              </v-list>
            </v-menu>
          </template>
        </simple-data-table>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleDataTable from "../../components/SimpleDataTableAlfa.vue";
export default {
  props: {
    clave: { type: String, required: false, default: "ALMSAL" },
  },
  components: {
    SimpleDataTable,
  },
  data: () => ({
    tab: 0,
    pageSizes: [3, 6, 9],
    loading: false,
    resource: "atencion",
    entriesItems: [],
    headers: [],
    excludes : ['imo','cert'],
    searchTipesItems: [],
    showForm: {
      bien: false,
    },
    search: {
      tipo: "",
      param: "",
      estadoBusSelec: "0",
      page: 1,
      totalPages: 0,
      pageSize: 9,
    },
    actionForm: {
      bien: "CREATE",
    },
    itemSelected: null,
  }),
  watch: {
    "actionForm.bien": {
      handler: function (val, oldVal) {
        if (val === "SUCCESS") {
          //this.loadItems();
          this.$refs.childIngresosSimpleDataTable.getRecords();
          this.actionForm.bien = "CREATE";
        }
      },
    },
  },
  created() {
    //this.$store.dispatch("checkSubModulosAccess", this.clave);
    this.headers = [
      { text: '', fixed: true , value: "check", class: 'fixed', style :'left: 0rem',sortable: false},
      { text: `Fecha`, fixed: true , value: "fecha", width:'8rem', sortable: false},
      { text: `Tip. Examen`, value: "tipo_examen", width:'8rem' , sortable: false},
      { text: `Paciente`, value: "paciente", width:'15rem' , sortable: false},
      //{ text: `Empresa`, value: "empresa", class: '', style :'' , sortable: false},
      { text: "IMO", value: "imo" , sortable: false},
      { text: "CERT", value: "cert" , sortable: false},
      { text: "TRIAJE", value: "triaje" , sortable: false},
      { text: "ANT", value: "ant" , sortable: false},
      { text: "HC", value: "hc" , sortable: false},
      { text: "MUS", value: "mus" , sortable: false},
      { text: "DER", value: "der" , sortable: false},
      { text: "ALT", value: "alt" , sortable: false},
      { text: "PSQ", value: "psq" , sortable: false},
      { text: "LAB", value: "lab" , sortable: false},
      { text: "RX", value: "rx" , sortable: false},
      { text: "EKG", value: "ekg" , sortable: false},
      { text: "OFT", value: "oft" , sortable: false},
      { text: "AUD", value: "aud" , sortable: false},
      { text: "ESP", value: "esp" , sortable: false},
      { text: "RES", value: "resp" , sortable: false},
      { text: "PSI", value: "psi" , sortable: false},
      { text: "ACRO", value: "acro" , sortable: false},
      { text: "MAS", value: "mas" , sortable: false},
      { text: "IST", value: "ist" , sortable: false},
      { text: "DROG", value: "drog" , sortable: false},
      { text: "ORI", value: "ori" , sortable: false},
      { text: "EPW", value: "epw" , sortable: false},
      { text: "DEC", value: "decj" , sortable: false},
      { text: "EXO", value: "exo" , sortable: false},
      { text: "SEN", value: "sen" , sortable: false},
      { text: "S3S", value: "S3S" , sortable: false},
      { text: "INT", value: "int" , sortable: false},
      { text: "CAR", value: "car" , sortable: false},
      { text: "ODO", value: "odo" , sortable: false},
      { text: "ADJUNTOS", value: "adjunto" , sortable: false},
    ];

  },
  async mounted() {
    //this.search = await this.$store.dispatch("loadQueryParams", this.search);
  },
  methods: {
    downloadPDF(url) {
      window.open(`http://127.0.0.1:8080/api/files/download?url=${url}`, "_blank");
    },
    getExamenesList(item) {
      let temp = [];
      Object.keys(item).forEach((element) => {
        if (
          this.isObject(item[element]) &&
          !this.excludes.includes(element)
        ) {
          temp.push(item[element]);
        }
      });
      return temp;
    },
    isObject(objValue) {
      return (
        objValue &&
        typeof objValue === "object" &&
        objValue.constructor === Object
      );
    },
  },
};
</script>

<style>
</style>
