<template>
  <div class="card mb-0 pt-2 pt-md-0">
    <div class="card mb-0">
      <div class="card-body">
        <simple-data-table
          :applyCustomer="true"
          :showSelect="false"
          :resource="resource"
          :filtersAvailable="Array('date', 'nombre', 'tipo_examen')"
          ref="childIngresosSimpleDataTable"
        >
          <template slot="downloadsbtn" slot-scope="{ meta }">
            <div class="row">
              <div class="col-auto">
                <v-btn
                  color="blue-grey darken-4"
                  dark
                  @click.prevent="clickDownload('excel', meta)"
                  ><v-icon left> mdi-file-excel </v-icon>Exportar Matriz</v-btn
                >
              </div>
            </div>
          </template>
          <template slot="exams" slot-scope="{ item }">
            <v-menu bottom offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-0"
                  v-bind="attrs"
                  v-on="on"
                  color="primary"
                  x-small
                >
                  Examenes
                  <v-icon right dark>
                    mdi-arrow-down-drop-circle-outline
                  </v-icon></v-btn
                >
              </template>
              <v-list>
                <template v-for="(exam, i) in getExamenesList(item)">
                  <v-list-item
                    :key="i"
                    v-if="exam.show"
                    @click="downloadPDF(exam.url)"
                    dense
                  >
                    <v-list-item-title :style="'color:' + exam.color">
                      <v-icon :color="exam.color" left dark>
                        mdi-file-pdf
                      </v-icon>
                      {{ exam.texto }}</v-list-item-title
                    >
                  </v-list-item>
                </template>
              </v-list>
            </v-menu>
          </template>
        </simple-data-table>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleDataTable from "../../components/SimpleDataTableAlfa.vue";
import queryString from "query-string";
export default {
  props: {
    clave: { type: String, required: false, default: "ALMSAL" },
  },
  components: {
    SimpleDataTable,
  },
  data: () => ({
    tab: 0,
    pageSizes: [3, 6, 9],
    loading: false,
    resource: "matriz",
    entriesItems: [],
    headers: [],
    excludes: ["imo", "cert"],
    searchTipesItems: [],
    showForm: {
      bien: false,
    },
    search: {
      tipo: "",
      param: "",
      estadoBusSelec: "0",
      page: 1,
      totalPages: 0,
      pageSize: 9,
    },
    actionForm: {
      bien: "CREATE",
    },
    itemSelected: null,
  }),
  watch: {
    "actionForm.bien": {
      handler: function (val, oldVal) {
        if (val === "SUCCESS") {
          //this.loadItems();
          this.$refs.childIngresosSimpleDataTable.getRecords();
          this.actionForm.bien = "CREATE";
        }
      },
    },
  },
  created() {
  },
  async mounted() {
    //this.search = await this.$store.dispatch("loadQueryParams", this.search);
  },
  methods: {
    clickDownload(url, param) {
      window.open(
        `/matriz/download?${this.getQueryParameters(param)}`,
        "_blank"
      );
    },
    downloadPDF(url) {
      window.open(
        `http://127.0.0.1:8080/api/files/download?url=${url}`,
        "_blank"
      );
    },
    getExamenesList(item) {
      let temp = [];
      Object.keys(item).forEach((element) => {
        if (this.isObject(item[element]) && !this.excludes.includes(element)) {
          temp.push(item[element]);
        }
      });
      return temp;
    },
    isObject(objValue) {
      return (
        objValue &&
        typeof objValue === "object" &&
        objValue.constructor === Object
      );
    },
    getQueryParameters(param) {
      return queryString.stringify({
        token: this.$store.getters.GET_TOKEN,
        user_id: this.$store.getters.GET_USER_ID,
        ...param,
      });
    },
  },
};
</script>

<style>
</style>
