<template>
  <v-app id="inspire">
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: "App",
  props: { env: { type: String }, apirust: { type: String, required: true } },
  data: () => ({
    //
  }),
  mounted() {
    this.$store.commit("SET_ENV_LARAVEL", this.env);
    this.$store.commit("SET_API_RUST", this.apirust);
    /*axios.get('/auth').then(({data})=>{
        this.$store.commit("SET_USER", data);
    })*/
  },
};
</script>
