<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <template
            v-if="
              (form.period === 'month' || form.period === 'between_months') &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_start"
                type="month"
                @change="changeDisabledMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes de"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_months' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_end"
                type="month"
                :picker-options="pickerOptionsMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="form.period === 'date' || form.period === 'between_dates'"
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_start"
                type="date"
                @change="changeDisabledDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha del"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_dates' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_end"
                type="date"
                :picker-options="pickerOptionsDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('nombre')">
            <div class="col-md-4 col-lg-3">
              <v-text-field
                v-model="form.nombre"
                label="Nombre"
                hide-details
                dense
                outlined
                clearable
              ></v-text-field>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('tipo_examen')">
            <div class="col-md-4 col-lg-3">
              <v-select
                v-model="form.tipo_examen_id"
                :items="tipos_examen"
                label="Tip. Examen"
                hide-details
                dense
                outlined
              ></v-select>
            </div>
          </template>
          <div class="col-md-4 col-lg-2">
            <v-btn
              color="primary"
              @click.prevent="getRecordsByFilter"
              :loading="loading_submit"
            >
              <v-icon left> mdi-magnify </v-icon>Buscar
            </v-btn>
          </div>
          <div
            class="row"
            v-if="
              selected.length > 0 && filtersAvailable.includes('btns_download')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="black"
                @click.prevent="clickDownload('pdf-merge', 'imo')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar IMO</v-btn
              >
            </div>
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="black"
                @click.prevent="clickDownload('pdf-merge', 'cert')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar CERT</v-btn
              >
            </div>
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="black"
                @click.prevent="clickDownload('pdf-merge', 'triaje')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar TRIAJE</v-btn
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 pt-1">
        <div class="wrapper" style="margin-left: 10rem">
          <table>
            <thead>
              <tr>
                <th
                  v-for="head in headersTable"
                  :key="head.value"
                  :class="head.class"
                  :style="head.style"
                >
                  <template v-if="head.value == 'check'">
                    <input type="checkbox" v-model="selectedAll" />
                  </template>
                  <template v-else>
                    {{ head.text }}
                  </template>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in records" :key="item.name">
                <template v-for="head in headersTable">
                  <td
                    v-if="head.value == 'check'"
                    :class="head.class"
                    :style="head.style"
                    :key="head.value"
                  >
                    <slot :name="head.value" :item="item">
                      <input type="checkbox" :value="item" v-model="selected" />
                    </slot>
                  </td>
                  <td
                    v-else
                    :class="head.class"
                    :style="head.style"
                    :key="head.value"
                  >
                    <slot :name="head.value" :item="item">
                      <template v-if="isObject(item[head.value])">
                        <v-btn
                          v-if="item[head.value].show"
                          small
                          outlined
                          label
                          :color="item[head.value].color"
                          @click="downloadPDF(item[head.value].url)"
                        >
                          {{ head.text }}
                        </v-btn>
                      </template>
                      <template v-else>
                        {{ item[head.value] }}
                      </template>
                    </slot>
                  </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.font-custom {
  font-size: 15px !important;
}
</style>
<script>
import moment from "moment";
import queryString from "query-string";

export default {
  props: {
    resource: String,
    applyCustomer: { type: Boolean, required: false, default: false },
    filtersAvailable: {
      type: Array,
      required: false,
      default: () => Array("date"),
    },
    headers: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      loading_submit: false,
      periods: [
        { value: "month", text: "Por mes" },
        { value: "between_months", text: "Entre meses" },
        { value: "date", text: "Por fecha" },
        { value: "between_dates", text: "Entre fechas" },
      ],
      loading_search: false,
      selectedAll: false,
      selected: [],
      columns: [],
      records: [],
      document_types: [],
      pagination: { per_page: 6 },
      search: {},
      totals: {},
      establishment: null,
      form: {},
      see_more: false,
      pickerOptionsDates: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM-DD");
          return this.form.date_start > time;
        },
      },
      pickerOptionsMonths: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM");
          return this.form.month_start > time;
        },
      },
      tipos_examen: [],
    };
  },
  computed: {
      headersTable(){
          return this.headers;
      }
  },
  watch: {
    selectedAll(val) {
      if (val) {
        this.selected = this.records;
      } else {
        this.selected = [];
      }
    },
  },
  created() {
    this.initForm();
    this.getRecords();
  },
  async mounted() {
    await axios.get(`/${this.resource}/filter`).then((response) => {
      this.tipos_examen = response.data.tipos_examen;
    });

    await this.getRecords();
  },
  methods: {
    clickSeeMore() {
      this.see_more = this.see_more ? false : true;
    },
    clickDownload(type, name = "") {
      let urls = [];
      this.selected.forEach((element) => {
        if (this.isObject(element)) {
          if (element[name].show) {
            urls.push(element[name].url);
          }
        }
      });
      //window.open(`/${type}/?urls=${JSON.stringify(urls)}`, "_blank");
      window.open(
        `${base_uri_rust}/files/zipped?urls=${JSON.stringify(urls)}`,
        "_blank"
      );
    },
    downloadPDF(url) {
      // window.open(`/pdf?url=${url}`, "_blank");
      console.log(base_uri_rust);
      window.open(`${base_uri_rust}/files/download?url=${url}`, "_blank");
    },
    initForm() {
      this.form = {
        period: "between_dates",
        date_start: moment().format("YYYY-MM-DD"),
        date_end: moment().format("YYYY-MM-DD"),
        month_start: moment().format("YYYY-MM"),
        month_end: moment().format("YYYY-MM"),
        tipo_examen_id: 0,
        nombre: null,
      };
    },
    customIndex(index) {
      return (
        this.pagination.per_page * (this.pagination.current_page - 1) +
        index +
        1
      );
    },
    async getRecordsByFilter() {
      await this.getRecords();
    },
    getRecords() {
      this.loading_submit = true;
      return axios
        .get(`/${this.resource}/records?${this.getQueryParameters()}`)
        .then(({ data }) => {
          this.records = data.records;
        })
        .finally(() => {
          this.loading_submit = false;
        });
    },
    getQueryParameters() {
      return queryString.stringify({
        page: this.pagination.current_page,
        per_page: this.pagination.per_page,
        ...this.form,
      });
    },

    changeDisabledDates() {
      if (this.form.date_end < this.form.date_start) {
        this.form.date_end = this.form.date_start;
      }
      // this.loadAll();
    },
    changeDisabledMonths() {
      if (this.form.month_end < this.form.month_start) {
        this.form.month_end = this.form.month_start;
      }
      // this.loadAll();
    },
    changePeriod() {
      if (this.form.period === "month") {
        this.form.month_start = moment().format("YYYY-MM");
        this.form.month_end = moment().format("YYYY-MM");
      }
      if (this.form.period === "between_months") {
        this.form.month_start = moment().startOf("year").format("YYYY-MM"); //'2019-01';
        this.form.month_end = moment().endOf("year").format("YYYY-MM");
      }
      if (this.form.period === "date") {
        this.form.date_start = moment().format("YYYY-MM-DD");
        this.form.date_end = moment().format("YYYY-MM-DD");
      }
      if (this.form.period === "between_dates") {
        this.form.date_start = moment().startOf("month").format("YYYY-MM-DD");
        this.form.date_end = moment().endOf("month").format("YYYY-MM-DD");
      }
      // this.loadAll();
    },
    isObject(objValue) {
      return (
        objValue &&
        typeof objValue === "object" &&
        objValue.constructor === Object
      );
    },
  },
};
</script>
<style scoped>
.wrapper {
  overflow-x: scroll;
}

tr td {
  white-space: nowrap;
  padding-left: 0.4rem;
}
th {
  padding-left: 0.4rem;
}

.fixed {
  position: absolute;
}
</style>
