<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-lg-8 col-md-8 py-1">
            <div class="form-group my-0">
              <label class="control-label font-custom"
                ><strong>Filtros de busqueda</strong></label
              >
              <template v-if="!see_more">
                <a
                  class="control-label font-weight-bold text-info font-custom"
                  @click="clickSeeMore"
                  ><strong> [+ Ver más]</strong></a
                >
              </template>
              <template v-else>
                <a
                  class="control-label font-weight-bold text-info font-custom"
                  @click="clickSeeMore"
                  ><strong> [- Ver menos]</strong></a
                >
              </template>
            </div>
          </div>
        </div>
        <div class="row mt-2" v-if="see_more">
          <div
            class="col-md-3 col-lg-2"
            v-if="filtersAvailable.includes('date')"
          >
            <v-select
              v-model="form.period"
              :items="periods"
              @change="changePeriod"
              label="Periodo"
              hide-details
              dense
              outlined
            ></v-select>
          </div>
          <template
            v-if="
              (form.period === 'month' || form.period === 'between_months') &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_start"
                type="month"
                @change="changeDisabledMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes de"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_months' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_end"
                type="month"
                :picker-options="pickerOptionsMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="form.period === 'date' || form.period === 'between_dates'"
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_start"
                type="date"
                @change="changeDisabledDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha del"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_dates' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_end"
                type="date"
                :picker-options="pickerOptionsDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('almacen')">
            <div class="col-md-4 col-lg-3">
              <v-select
                v-model="form.almacen_id"
                :items="almacenes"
                label="Almacen"
                hide-details
                dense
                outlined
                clearable
              ></v-select>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('invOrigen')">
            <div class="col-md-4 col-lg-3">
              <v-select
                v-model="form.inventario_origen_id"
                :items="inventario_origen"
                label="Inventario Origen"
                hide-details
                dense
                outlined
                clearable
              ></v-select>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('invDestino')">
            <div class="col-md-4 col-lg-3">
              <v-select
                v-model="form.inventario_destino_id"
                :items="inventario_destino"
                label="Inventario Origen"
                hide-details
                dense
                outlined
                clearable
              ></v-select>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('inventario')">
            <div class="col-md-4 col-lg-3">
              <v-select
                v-model="form.inventario_id"
                :items="inventories"
                label="Inventario"
                hide-details
                dense
                outlined
                clearable
              ></v-select>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('nombre_item')">
            <div class="col-md-4 col-lg-3">
              <v-text-field
                v-model="form.nombre_item"
                label="Nombre Item"
                hide-details
                dense
                outlined
                clearable
              ></v-text-field>
            </div>
          </template>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div
                class="col-lg-7 col-md-7 col-md-7 col-sm-12"
                style="margin-top: 29px"
              >
                <v-btn
                  color="primary"
                  @click.prevent="getRecordsByFilter"
                  :loading="loading_submit"
                  ><v-icon left> mdi-magnify </v-icon>Buscar</v-btn
                >

                <template
                  v-if="
                    records.length > 0 &&
                    filtersAvailable.includes('btns_download')
                  "
                >
                  <v-btn
                    color="error"
                    @click.prevent="clickDownload('pdf')"
                    :loading="loading_submit"
                    ><v-icon left> mdi-file-pdf </v-icon>Exportar PDF</v-btn
                  >
                  <v-btn
                    color="success"
                    @click.prevent="clickDownload('excel')"
                    :loading="loading_submit"
                    ><v-icon left> mdi-microsoft-excel </v-icon>Exportar
                    Excel</v-btn
                  >
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 pt-1">
        <v-data-table
          dense
          :headers="headersTable"
          :items="records"
          :loading="loading_submit"
          loading-text="Cargando..."
          class="elevation-1"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-for="head in headersTable" v-slot:[`item.${head.value}`]="{ item }">
              <slot :name="head.value" :item="item">{{item[head.value]}}</slot>
          </template>
        </v-data-table>
        <div class="mt-3">
          <div style="width='10rem;'">
            <v-select
              v-model="pagination.per_page"
              :items="[3, 6, 9]"
              outlined
              dense
              hide-details
              :disabled="loading_submit"
              style="width: 8rem !important"
              label="Items por pagina"
              @change="handlePageSizeChange"
            ></v-select>
          </div>
          <div style="width='20rem;'">
            <v-pagination
              :disabled="loading_submit"
              @current-change="getRecords"
              @input="handlePageChange"
              v-model="pagination.current_page"
              :length="pagination.last_page"
              total-visible="7"
            ></v-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.font-custom {
  font-size: 15px !important;
}
</style>
<script>
import moment from "moment";
import queryString from "query-string";

export default {
  props: {
    resource: String,
    applyCustomer: { type: Boolean, required: false, default: false },
    filtersAvailable: {
      type: Array,
      required: false,
      default: () => Array("date"),
    },
    headersTable: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      loading_submit: false,
      periods: [
        { value: "month", text: "Por mes" },
        { value: "between_months", text: "Entre meses" },
        { value: "date", text: "Por fecha" },
        { value: "between_dates", text: "Entre fechas" },
      ],
      persons: [],
      all_persons: [],
      loading_search: false,
      columns: [],
      records: [],
      headers: headers_token,
      document_types: [],
      pagination: { per_page: 6 },
      search: {},
      totals: {},
      establishment: null,
      establishments: [],
      state_types: [],
      form: {},
      see_more: false,
      pickerOptionsDates: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM-DD");
          return this.form.date_start > time;
        },
      },
      pickerOptionsMonths: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM");
          return this.form.month_start > time;
        },
      },
      inventories: [],
      inventario_origen: new Array(),
      inventario_destino: new Array(),
    };
  },
  computed: {},
  created() {
    this.initForm();
    this.getRecords();
  },
  async mounted() {
    await axios.get(`/${this.resource}/filter`).then((response) => {
      this.inventories = response.data.inventories;
      this.almacenes = response.data.almacenes;
      this.inventario_origen = response.data.inventario_origen;
      this.inventario_destino = response.data.inventario_destino;
    });

    await this.getRecords();
    await this.filterPersons();
    // await this.getTotals()
    this.form.type_person =
      this.resource === "reports/debts" ? "customers" : "suppliers";
  },
  methods: {
    gomycell(head) {
      console.log(`item.${head.value}`);
      return `item.${head.value}`;
    },
    handlePageChange(value) {
      this.page = value;
      this.getRecords();
    },
    handlePageSizeChange(size) {
      this.pagination.per_page = size;
      this.pagination.current_page = 1;
      this.getRecords();
    },
    clickSeeMore() {
      this.see_more = this.see_more ? false : true;
    },
    filterPersons() {
      this.persons = this.all_persons;
    },
    clickDownload(type) {
      let query = queryString.stringify({
        ...this.form,
      });
      window.open(`/${this.resource}/${type}/?${query}`, "_blank");
    },
    initForm() {
      this.form = {
        period: "month",
        date_start: moment().format("YYYY-MM-DD"),
        date_end: moment().format("YYYY-MM-DD"),
        month_start: moment().format("YYYY-MM"),
        month_end: moment().format("YYYY-MM"),
        inventario_id: null,
        nombre_item: null,
        almacen_id: null,
        inventario_origen_id: null,
        inventario_destino_id: null,
      };
    },
    customIndex(index) {
      return (
        this.pagination.per_page * (this.pagination.current_page - 1) +
        index +
        1
      );
    },
    async getRecordsByFilter() {
      this.loading_submit = await true;
      await this.getRecords();
      this.loading_submit = await false;
    },
    getRecords() {
      return axios
        .get(`/${this.resource}/records?${this.getQueryParameters()}`)
        .then(({ data }) => {
          this.records = data.data;
          this.pagination = data;
          this.pagination.per_page = parseInt(data.per_page);
          this.loading_submit = false;
        });
    },
    getQueryParameters() {
      return queryString.stringify({
        page: this.pagination.current_page,
        per_page: this.pagination.per_page,
        ...this.form,
      });
    },

    changeDisabledDates() {
      if (this.form.date_end < this.form.date_start) {
        this.form.date_end = this.form.date_start;
      }
      // this.loadAll();
    },
    changeDisabledMonths() {
      if (this.form.month_end < this.form.month_start) {
        this.form.month_end = this.form.month_start;
      }
      // this.loadAll();
    },
    changePeriod() {
      if (this.form.period === "month") {
        this.form.month_start = moment().format("YYYY-MM");
        this.form.month_end = moment().format("YYYY-MM");
      }
      if (this.form.period === "between_months") {
        this.form.month_start = moment().startOf("year").format("YYYY-MM"); //'2019-01';
        this.form.month_end = moment().endOf("year").format("YYYY-MM");
      }
      if (this.form.period === "date") {
        this.form.date_start = moment().format("YYYY-MM-DD");
        this.form.date_end = moment().format("YYYY-MM-DD");
      }
      if (this.form.period === "between_dates") {
        this.form.date_start = moment().startOf("month").format("YYYY-MM-DD");
        this.form.date_end = moment().endOf("month").format("YYYY-MM-DD");
      }
      // this.loadAll();
    },
  },
};
</script>
