<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <template
            v-if="
              (form.period === 'month' || form.period === 'between_months') &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_start"
                type="month"
                @change="changeDisabledMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes de"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_months' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.month_end"
                type="month"
                :picker-options="pickerOptionsMonths"
                value-format="yyyy-MM"
                format="MM/yyyy"
                label="Mes al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="form.period === 'date' || form.period === 'between_dates'"
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_start"
                type="date"
                @change="changeDisabledDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha del"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template
            v-if="
              form.period === 'between_dates' &&
              filtersAvailable.includes('date')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-text-field
                v-model="form.date_end"
                type="date"
                :picker-options="pickerOptionsDates"
                value-format="yyyy-MM-dd"
                format="dd/MM/yyyy"
                label="Fecha al"
                hide-details
                dense
                outlined
              ></v-text-field>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('nombre')">
            <div class="col-md-4 col-lg-3">
              <v-text-field
                v-model="form.nombre"
                label="Nombre"
                hide-details
                dense
                outlined
                clearable
              ></v-text-field>
            </div>
          </template>
          <template v-if="filtersAvailable.includes('tipo_examen')">
            <div class="col-md-4 col-lg-2">
              <v-select
                v-model="form.tipo_examen_id"
                :items="tipos_examen"
                label="Tip. Examen"
                hide-details
                dense
                outlined
              ></v-select>
            </div>
          </template>
          <div class="col-md-4 col-lg-3" style="text-align: right !important">
            <v-btn
              color="primary"
              @click.prevent="getRecordsByFilter"
              :loading="loading_submit"
            >
              <v-icon left> mdi-magnify </v-icon>Buscar
            </v-btn>
          </div>
          <slot name="downloadsbtn" :meta="form"></slot>
          <div
            class="row"
            v-if="
              selected.length > 0 && filtersAvailable.includes('btns_download')
            "
          >
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="blue-grey darken-4"
                dark
                @click.prevent="clickDownload('pdf-merge', 'imo')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar IMO</v-btn
              >
            </div>
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="blue-grey darken-4"
                dark
                @click.prevent="clickDownload('pdf-merge', 'cert')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar CERT</v-btn
              >
            </div>
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="blue-grey darken-4"
                dark
                @click.prevent="clickDownload('pdf-merge', 'triaje')"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar TRIAJE</v-btn
              >
            </div>
            <div class="col-md-4 col-lg-2">
              <v-btn
                color="blue-grey darken-4"
                dark
                @click.prevent="clickDownloadLegajo()"
                :loading="loading_submit"
                ><v-icon left> mdi-file-pdf </v-icon>Exportar Legajo</v-btn
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 pt-1">
        <v-data-table
          v-model="selected"
          :show-select="showSelect"
          item-key="id"
          dense
          height="70vh"
          fixed-header
          :headers="headersTable"
          :items="records"
          :loading="loading_submit"
          loading-text="Cargando..."
          class="elevation-1"
          :footer-props="{
            'items-per-page-options': page_options,
          }"
          :items-per-page="pagination.per_page"
        >
          <template
            v-for="(head, index) in headersTable"
            v-slot:[`item.${head.value}`]="{ item }"
          >
            <template v-if="isObject(item[head.value])">
              <v-btn
                v-if="item[head.value].show && !item[head.value].urls"
                :key="index"
                small
                outlined
                label
                :color="item[head.value].color"
                @click="downloadPDF(item[head.value].url)"
              >
                {{ head.text }}
              </v-btn>
              <v-btn
                v-if="item[head.value].show && item[head.value].urls"
                :key="index"
                small
                outlined
                label
                :color="item[head.value].color"
                @click="
                  dialog = true;
                  adjuntos = item[head.value].urls;
                "
              >
                {{ head.text }}
              </v-btn>
            </template>
            <template v-else>
              <slot :name="head.value" :item="item">{{
                item[head.value]
              }}</slot>
            </template>
          </template>
        </v-data-table>
      </div>
    </div>
    <v-dialog v-model="dialog" scrollable max-width="300px">
      <v-card>
        <v-card-title>ADJUNTOS</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px">
          <v-list dense>
            <v-list-item
              v-for="(item, index) in adjuntos"
              :key="index"
              @click="downloadPDF(item)"
            >
              ADJUNTO N°{{ index + 1 }}
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="dialog = false">
            CERRAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style>
.font-custom {
  font-size: 15px !important;
}
</style>
<script>
import moment from "moment";
import queryString from "query-string";

export default {
  props: {
    resource: String,
    applyCustomer: { type: Boolean, required: false, default: false },
    showSelect: { type: Boolean, required: false, default: true },
    filtersAvailable: {
      type: Array,
      required: false,
      default: () => Array("date"),
    },
    headers: {
      type: Array,
      required: false,
    },
  },
  data() {
    return {
      loading_submit: false,
      dialog: false,
      apiRust: null,
      adjuntos: [],
      localHeaders: [],
      page_options: [20, 50, 100, -1],
      periods: [
        { value: "month", text: "Por mes" },
        { value: "between_months", text: "Entre meses" },
        { value: "date", text: "Por fecha" },
        { value: "between_dates", text: "Entre fechas" },
      ],
      loading_search: false,
      selected: [],
      columns: [],
      records: [],
      document_types: [],
      pagination: { per_page: 20 },
      search: {},
      totals: {},
      establishment: null,
      form: {},
      see_more: false,
      pickerOptionsDates: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM-DD");
          return this.form.date_start > time;
        },
      },
      pickerOptionsMonths: {
        disabledDate: (time) => {
          time = moment(time).format("YYYY-MM");
          return this.form.month_start > time;
        },
      },
      tipos_examen: [],
    };
  },
  computed: {
    headersTable() {
      if (this.headers) {
        return this.headers;
      }
      if (this.localHeaders.length > 0) {
        return this.localHeaders;
      }
      else {
        let temp = [];
        if (this.records.length > 0) {
          let item = this.records[0];
          Object.keys(item).forEach((element) => {
            temp.push({
              value: element,
              text: element.toUpperCase(),
              sortable: false,
            });
          });
        }
        return temp;
      }
    },
  },
  created() {
    this.initForm();
    this.getRecords();
    this.apiRust = this.$store.getters.GET_API_RUST;
  },
  async mounted() {
    await axios.get(`/${this.resource}/filter`).then((response) => {
      this.tipos_examen = response.data.tipos_examen;
    });

    await this.getRecords();
  },
  methods: {
    clickSeeMore() {
      this.see_more = this.see_more ? false : true;
    },
    clickDownload(type, attr) {
      let urls = [];
      this.selected.forEach((element) => {
        if (element[attr].show) {
          urls.push(element[attr].url);
        }
      });
      window.open(
        `${this.apiRust}/files/zipped?urls=${JSON.stringify(urls)}`,
        "_blank"
      );
    },
    clickDownloadLegajo() {
      let urls = [];
      this.selected.forEach((element) => {
        if (element.id) {
          urls.push(element.id);
        }
      });
      window.open(`/legajo?PARM_ORDENES=${urls}`, "_blank");
    },
    downloadPDF(url) {
      // window.open(`/pdf?url=${url}`, "_blank");
      console.log(this.apiRust);
      window.open(`${this.apiRust}/files/download?url=${url}`, "_blank");
    },
    initForm() {
      this.form = {
        period: "between_dates",
        date_start: moment().format("YYYY-MM-DD"),
        date_end: moment().format("YYYY-MM-DD"),
        month_start: moment().format("YYYY-MM"),
        month_end: moment().format("YYYY-MM"),
        tipo_examen_id: 0,
        nombre: null,
      };
    },
    customIndex(index) {
      return (
        this.pagination.per_page * (this.pagination.current_page - 1) +
        index +
        1
      );
    },
    async getRecordsByFilter() {
      await this.getRecords();
    },
    getRecords() {
      this.loading_submit = true;
      return axios
        .get(`/${this.resource}/records?${this.getQueryParameters()}`)
        .then(({ data }) => {
          this.records = data.records;
          if (data.headers) {
            this.localHeaders = data.headers;
          }
        })
        .catch((error) => {
          if (error.response && error.response.status === 401) {
            Swal.fire({
              title: "Mensaje informativo",
              text: "La sesión ah caducado, inicie sesión nuevamente por favor",
              icon: "info",
              showCancelButton: false,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Aceptar",
            }).then((result) => {
              if (result.isConfirmed) {
                this.$store.dispatch("logout");
              }
            });
          }
        })
        .finally(() => {
          this.loading_submit = false;
        });
    },
    getQueryParameters() {
      return queryString.stringify({
        page: this.pagination.current_page,
        per_page: this.pagination.per_page,
        token: this.$store.getters.GET_TOKEN,
        user_id: this.$store.getters.GET_USER_ID,
        ...this.form,
      });
    },

    changeDisabledDates() {
      if (this.form.date_end < this.form.date_start) {
        this.form.date_end = this.form.date_start;
      }
      // this.loadAll();
    },
    changeDisabledMonths() {
      if (this.form.month_end < this.form.month_start) {
        this.form.month_end = this.form.month_start;
      }
      // this.loadAll();
    },
    changePeriod() {
      if (this.form.period === "month") {
        this.form.month_start = moment().format("YYYY-MM");
        this.form.month_end = moment().format("YYYY-MM");
      }
      if (this.form.period === "between_months") {
        this.form.month_start = moment().startOf("year").format("YYYY-MM"); //'2019-01';
        this.form.month_end = moment().endOf("year").format("YYYY-MM");
      }
      if (this.form.period === "date") {
        this.form.date_start = moment().format("YYYY-MM-DD");
        this.form.date_end = moment().format("YYYY-MM-DD");
      }
      if (this.form.period === "between_dates") {
        this.form.date_start = moment().startOf("month").format("YYYY-MM-DD");
        this.form.date_end = moment().endOf("month").format("YYYY-MM-DD");
      }
      // this.loadAll();
    },
    isObject(objValue) {
      return (
        objValue &&
        typeof objValue === "object" &&
        objValue.constructor === Object
      );
    },
  },
};
</script>
