<template>
  <v-app>
    <v-main>
      <v-container fill-height>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="12" md="12">
            <v-card class="elevation-12" height="98vh">
              <v-row class="fill-height" align="center" justify="center">
                <v-col cols="0" sm="6" md="6">
                  <v-card>
                    <v-img
                      class="white--text align-end"
                      height="95vh"
                      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                    >
                    </v-img>
                  </v-card>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-card-text class="mt-10">
                    <h1
                      class="text-center display-2 green--text text--accent-4"
                    >
                      Inicio de sesión
                    </h1>
                    <form @submit.prevent="login" class="mt-12">
                      <v-text-field
                        v-model="form.login_user"
                        label="Usuario*"
                        prepend-icon="mdi-login_user"
                        type="text"
                        color="green accent-3"
                        :class="{ 'is-invalid': form.errors.has('login_user') }"
                        required
                      />
                      <v-text-field
                        v-model="form.login_pw"
                        label="Contraseña*"
                        prepend-icon="mdi-lock"
                        type="password"
                        color="green accent-3"
                        v-on:keyup.enter="login()"
                        :class="{ 'is-invalid': form.errors.has('login_pw') }"
                        required
                      />
                    </form>
                    <small>*indicador de campos requeridos</small>
                  </v-card-text>
                  <div class="text-center mt-3 mb-10">
                    <v-btn
                      type="submit"
                      :disabled="form.busy"
                      @click="login"
                      rounded
                      color="green accent-4"
                      class="white--text"
                      dark
                      >Ingresar</v-btn
                    >
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    step: 1,
    form: new Form({
      login_user: "",
      login_pw: "",
    }),
  }),
  props: {
    source: String,
  },
  computed: {},
  watch: {},
  created() {
    this.$vuetify.theme.dark = false;
  },
  mounted() {},
  methods: {
    auth() {
      axios
        .get("/api/admin/me")
        .then((res) => {
          if (res !== undefined) {
            //window.history.length > 1 ? this.$router.go(-1) : this.$router.push({ name: "admin" })
          }
        })
        .catch((error) => {});
    },
    login() {
      this.form
        .post("/auth")
        .then(({ data }) => {
          if (data.status == 200) {
            toastr.success(`Acceso correcto ${data.name}`);
            this.$store.commit("SET_USER", data);
            this.$router.push({ name: "atencion.index" });
          } else {
            toastr.error("Los datos no son validos");
          }
        })
        .catch((error) => {
          toastr.error("Los datos no son validos");
        });
    },
    logintwo() {
      this.form
        .post("/auth")
        .then((res) => {
          if (res.data.access_token) {
            toastr.success("Acceso correcto");
            //window.location.href = "/new/window/location";
            this.$store.commit("SET_TOKEN_EXPIRE_IN", res.data.expires_in);
            //localStorage.setItem("token_expires_in", );
            var roles = [];
            var permissions = [];
            for (var i = 0; i < res.data.user.roles.length; i++) {
              roles.push(res.data.user.roles[i].name);
            }
            for (var i = 0; i < res.data.user.permissions.length; i++) {
              permissions.push(res.data.user.permissions[i].name);
            }
            this.$store.commit("SET_ROLES", JSON.stringify(roles));
            this.$store.commit("SET_PERMISSIONS", JSON.stringify(permissions));
            this.$store.commit("SET_USER", res.data.user.name);
            window.history.length > 1
              ? this.$router.go(-1)
              : this.$router.push({ name: "admin" });
            // this.$router.go({ name: "sales" })
            //location.reload();
          }
        })
        .catch((error) => {
          toastr.error("Los datos no son validos");
        });
    },
  },
};
</script>
