<template>
  <v-app>
    <v-app-bar fixed app dark :color="color">
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          :gradient="gradient"
        ></v-img>
      </template>
      <v-toolbar-title>{{ company }}</v-toolbar-title>
      <v-spacer />
      <v-toolbar-title>
        <v-menu bottom offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-2" v-bind="attrs" v-on="on" text>
              <v-icon left dark> mdi-account-circle-outline </v-icon>
              {{ title }}
              <v-icon right dark> mdi-arrow-down-drop-circle-outline </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="logout">
              <v-list-item-action>
                <v-icon light>mdi-power-standby</v-icon>
              </v-list-item-action>
              <v-list-item-title>Cerrar sesión</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-title>
      <template v-slot:extension>
        <v-tabs align-with-title background-color="white">
          <v-tab
            @click="$router.push({ name: 'atencion.index' })"
            class="black--text"
            >ATENCIONES</v-tab
          >
          <v-tab
            @click="$router.push({ name: 'matriz.index' })"
            class="black--text"
            >MATRIZ</v-tab
          >
        </v-tabs>
      </template>
      <v-chip
        class="ma-2"
        color="green accent-4"
        outlined
        v-if="VueEnv === 'development' ? true : false"
      >
        <v-icon left> mdi-wrench</v-icon>
        Desarrollador VUE
      </v-chip>
      <v-chip
        class="ma-2"
        color="red darken-4"
        outlined
        v-if="LaravelEnv === 'local' ? true : false"
      >
        <v-icon left> mdi-wrench</v-icon>
        Desarrollador LARAVEL
      </v-chip>
      <!--      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
              <v-icon>mdi-menu</v-icon>
            </v-btn>-->
    </v-app-bar>
    <v-main>
      <div class="mx-2">
        <transition mode="out-in">
          <router-view />
        </transition>
      </div>
    </v-main>
    <password-form ref="passformchangeref"></password-form>
  </v-app>
</template>

<script>
import passwordForm from "./DialogPassChange";
import navegationDrawerLeft from "./NavegationDraweLeft.vue";

export default {
  components: {
    navegationDrawerLeft,
    passwordForm,
  },
  props: ["user"],
  data() {
    return {
      darkTheme: false,
      clipped: false,
      returnPassForm: false,
      showReports: false,
      showPassForm: false,
      VueEnv: "development",
      LaravelEnv: "local",
      drawer: false,
      fixed: false,
      noAction: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "JOEL TORRES FARRO",
      company: null,
      color: "#06355d",
      gradient: "to top right, rgba(6,53,93,.7), rgba(25,32,72,.7)",
      idUser: null,
      ReportGroups: [],
    };
  },
  mounted() {
    const userEx = this.$store.getters.GET_USER;
    this.title = userEx.name;
    this.company = userEx.empresa;
    this.idUser = userEx.id;
    if (userEx.color) {
        this.color = userEx.color;
    }
    if (userEx.gradient) {
        this.gradient = userEx.gradient;
    }
    //this.title = this.title.toUpperCase();
    this.VueEnv = this.$store.getters.GET_ENV_VUE;
    this.LaravelEnv = this.$store.getters.GET_ENV_LARAVEL;
  },
  computed: {
    themeMessage() {
      return this.darkTheme === true ? "MODO DIA" : "MODO NOCHE";
    },
  },
  methods: {
    changeTheme() {
      this.$vuetify.theme.dark = !this.darkTheme;
      this.darkTheme = !this.darkTheme;
    },
    update() {
      axios
        .get("/cache/clear")
        .then((response) => {})
        .catch((error) => {
          //console.log(error.config);
        })
        .finally(() => {
          this.$router.replace({ query: null });
          window.location.href = window.location.href;
          //window.history.forward(1);
          // window.location.reload(true);
        });
    },
    logout() {
      const crsfToken = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      window.axios.defaults.headers.common["X-CSRF-TOKEN"] = crsfToken;
      this.$store.dispatch("logout");
      /*axios
        .post("/logout")
        .then((response) => {
          window.location.href = window.location.href;
        })
        .catch((error) => {
          console.log(error.config);
        });*/
    },
  },
};
</script>
<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;
}

.v-enter, .v-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
