<template>
  <div class="text-center">
    <v-dialog v-model="dialogState" width="500">
      <v-card>
        <v-card-title> Cambiar contraseña </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="password"
                    :rules="passRules"
                    :error-messages="errors.pass"
                    @click:append-outer="changeIcon"
                    :append-outer-icon="lockState ? 'mdi-eye-off' : 'mdi-eye'"
                    :type="lockState ? 'password' : 'text'"
                    label="Nueva contraseña"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="passwordConfirm"
                    :error-messages="errors.passConfirm"
                    :append-outer-icon="lockState ? 'mdi-eye-off' : 'mdi-eye'"
                    @click:append-outer="changeIcon"
                    :rules="[checkPass]"
                    :type="lockState ? 'password' : 'text'"
                    label="Repetir contraseña"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions class="d-flex justify-space-between">
          <v-btn outlined color="red" class="m-2" @click="close">
            Cancelar
          </v-btn>
          <v-btn
            color="primary"
            class="m-2"
            :disabled="btnDisable"
            :loading="btnLoading"
            @click="save"
          >
            Guardar cambios
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
  },
  data: () => ({
    valid: false,
    password: "",
    passwordConfirm: "",
    btnLoading: false,
    lockState: true,
    btnDisable: false,
    dialogState: false,
    errors: [],
    passRules: [
      (v) => !!v || "No se puede dejar este campo vacio",
      (v) => v.length >= 6 || "Debe de contener más de 6 caracteres",
    ],
  }),
  watch: {
    password(val) {
      if (val.length > 6) {
        this.errors = [];
      }
    },
  },
  methods: {
    checkPass(value) {
      if (value != this.password) {
        this.btnDisable = true;
        return "La confirmacion no coincide";
      } else {
        this.btnDisable = false;
        return true;
      }
    },
    save() {
      const crsfToken = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      window.axios.defaults.headers.common["X-CSRF-TOKEN"] = crsfToken;
      this.btnLoading = true;
      axios
        .post("/acount/update", {
          pass: this.password,
          passConfirm: this.passwordConfirm,
        })
        .then(({ data }) => {
          if (data.status === 200) {
            Toast.fire({
              icon: "success",
              title: data.message,
            });
            location.reload(true);
            this.dialogState = false;
          } else {
            Toast.fire({
              icon: "error",
              title: data.message,
            });
          }
        })
        .catch((error) => {
          if (error.response.status == 422) {
            Toast.fire({
              icon: "error",
              title: "Los datos ingresados no son validos",
            });
            this.errors = error.response.data.errors;
          } else {
            Toast.fire({
              icon: "error",
              title: error.response.data.message,
            });
          }
        })
        .finally(() => {
          this.btnLoading = false;
        });
    },
    openDialog() {
      this.passwordConfirm = "";
      this.password = "";
      this.dialogState = true;
    },
    close() {
      this.$emit("update:return", false);
      this.dialogState = false;
    },
    changeIcon() {
      this.lockState = !this.lockState;
    },
  },
};
</script>

<style></style>
